setuptools~=72.2.0
numpy~=2.0.1
torch~=2.4.0
pip~=24.2
wheel~=0.44.0
filelock~=3.15.4
typing_extensions~=4.12.2
pytest~=8.3.2
packaging~=24.1
platformdirs~=4.2.2
colorama~=0.4.6
tox~=4.18.0
pluggy~=1.5.0
chardet~=5.2.0
virtualenv~=20.26.3
cachetools~=5.4.0
mypy~=1.11.1
mypy-extensions~=1.0.0
charset-normalizer~=3.3.2
flake8~=7.1.1
pyflakes~=3.2.0
pycodestyle~=2.12.1
iniconfig~=2.0.0
certifi~=2024.7.4
urllib3~=2.2.2
coverage~=7.6.1
idna~=3.7
distlib~=0.3.8
elecssl~=0.0.0
braindecode~=0.8.1
pillow~=10.4.0
pytz~=2024.1
matplotlib~=3.9.2